env ETCD_NAME="<%= @etcd['name'] %>"
env ETCD_INITIAL_CLUSTER="<%= @etcd['initial_cluster'] %>"
env ETCD_INITIAL_CLUSTER_STATE="existing"
env ETCD_DATA_DIR="/var/lib/etcd"
env ETCD_LISTEN_PEER_URLS="http://<%= @ipaddress %>:2380"
env ETCD_LISTEN_CLIENT_URLS="http://<%= @ipaddress %>:2379"
env ETCD_ADVERTISE_CLIENT_URLS="http://<%= @ipaddress %>:2379"
env ETCD_INITIAL_ADVERTISE_PEER_URLS="http://<%= @ipaddress %>:2380"
